.dropdown {
    --#{$prefix}dropdown-menu-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    .dropdown-menu {
        --#{$prefix}dropdown-item-padding-x: 1.25rem;
        --#{$prefix}dropdown-item-padding-y: 0.7rem;
        --#{$prefix}dropdown-bg: var(--#{$prefix}mode-accent);
        --#{$prefix}dropdown-link-color: var(--#{$prefix}mode-body-color);
        --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}mode-body-color);
        --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}mode-bg);

        border: unset;
        box-shadow: var(--#{$prefix}dropdown-menu-shadow);
    }

    .dropdown-item {
        padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
    }
}
