%form-global-style {
    background-color: var(--#{$prefix}mode-input-bg);
    color: var(--#{$prefix}mode-body-color);
}

.form-control {
    @extend %form-global-style;
    height: 2.9rem;
    border: 1px solid var(--#{$prefix}mode-border);

    &:focus {
        @extend %form-global-style;
        box-shadow: unset;
        border: 1px solid var(--#{$prefix}primary);
    }
}

.form-group {
    position: relative;

    .password-eyes {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--#{$prefix}mode-body-color);
    }

    .password-eyes svg {
        stroke-width: 1.1px;
        width: 1.5rem;
        height: 1.5rem;
    }
}
