{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": true,
                "parser": "scss"
            }
        },
        {
            "files": "*.js",
            "options": {
                "singleQuote": true,
                "parser": "babel"
            }
        }
    ]
}