//FIXME: DRY
.sidebar,
.sidebar .logo,
.sidebar .sidebar-navigation {
    width: var(--#{$prefix}sidebar-width);
}

.compact-sidebar .sidebar,
.compact-sidebar .sidebar .logo,
.compact-sidebar .sidebar .sidebar-navigation {
    width: var(--#{$prefix}sidebar-compacted-width);
}

.sidebar {
    --#{$prefix}sidebar-logo-height: #{$navbar-height};
    --#{$prefix}sidebar-bg: var(--#{$prefix}mode-accent);
    --#{$prefix}sidebar-navigation-padding-y: 0.5rem;
    --#{$prefix}sidebar-navigation-padding-x: 1rem;
    --#{$prefix}sidebar-link-color: var(--#{$prefix}mode-body-color);
    --#{$prefix}sidebar-link-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    --#{$prefix}sidebar-link-padding-x: 0.8rem;
    --#{$prefix}sidebar-link-padding-y: 1.1rem;
    min-height: 100vh;
    height: auto;

    a {
        display: inline-block;
        color: var(--#{$prefix}sidebar-link-color);
        text-decoration: none;
        padding: var(--#{$prefix}sidebar-link-padding-y) var(--#{$prefix}sidebar-link-padding-x);
        width: 100%;
        border-radius: var(--#{$prefix}border-radius-base);
    }

    &,
    .logo {
        background-color: var(--#{$prefix}sidebar-bg);
        z-index: calc(var(--#{$prefix}z-index-fixed) + 1);
    }

    .logo-compact {
        display: none;
    }

    .logo-large {
        display: flex;
    }

    .logo {
        position: fixed;
        height: var(--#{$prefix}sidebar-logo-height);
    }

    .logo,
    .logo-large {
        display: flex;
    }

    .logo,
    .logo-large,
    .logo-compact {
        justify-content: center;
        align-items: center;
    }

    .sidebar-navigation {
        margin-top: var(--#{$prefix}sidebar-logo-height);
        padding: var(--#{$prefix}sidebar-navigation-padding-y) var(--#{$prefix}sidebar-navigation-padding-x);
    }

    .sidebar-item {
        position: relative;
    }

    .sidebar-navigation .menu .sidebar-item .sidebar-link {
        display: flex;
    }

    .sidebar-navigation > .menu > .sidebar-item.has-submenu:hover > .sidebar-link {
        background-color: var(--#{$prefix}body-bg);
    }

    .menu > li.sidebar-item.has-submenu > .sidebar-submenu > li.sidebar-item.has-submenu .sidebar-link:hover {
        background-color: var(--#{$prefix}body-bg);
    }

    .sidebar-navigation > .menu > .sidebar-item.active > .sidebar-link,
    .sidebar-navigation > .menu > .sidebar-item.has-submenu.active > .sidebar-link {
        background-color: var(--#{$prefix}primary);
        color: var(--#{$prefix}white);
    }

    .sidebar-submenu {
        height: 0;
        visibility: hidden;
        display: none;
        font-size: 0.95rem;
    }

    .sidebar-submenu li {
        position: relative;
    }

    .sidebar-submenu li:not(.has-submenu)::before,
    .sidebar-submenu li:not(.has-submenu).active::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 60%;
        background-color: var(--#{$prefix}primary);
        opacity: 0;
        transition: var(--#{$prefix}transition-base);
    }

    .sidebar-submenu li:not(.has-submenu):hover::before,
    .sidebar-submenu li:not(.has-submenu).active::before {
        opacity: 1;
    }

    .sidebar-submenu .tabler-icon svg {
        width: 1.3rem;
        height: 1.3rem;
    }
}

.compact-sidebar {
    .sidebar .logo-large {
        display: none;
    }

    .sidebar .logo-compact {
        display: flex;
    }

    .sidebar-submenu li:not(.has-submenu)::before {
        left: 0.6rem;
    }

    .sidebar-navigation {
        .sidebar-link {
            position: relative;
        }

        @media (min-width: #{map-get($grid-breakpoints, 'md')}) {
            .sidebar-submenu {
                visibility: hidden;
                display: none;
                height: 0;

                li a {
                    padding-left: 1rem;
                }

                li:hover > a {
                    background-color: var(--#{$prefix}mode-bg-hovered);
                }
            }

            .menu .sidebar-item:not(.active, .has-submenu):hover .sidebar-link,
            .menu .sidebar-item:not(.has-submenu) .sidebar-link span {
                box-shadow: var(--#{$prefix}sidebar-link-box-shadow);
                background-color: var(--#{$prefix}body-bg);
            }

            .menu .sidebar-link span {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
            }

            .menu > li.sidebar-item.has-submenu > .sidebar-submenu > li.sidebar-item.has-submenu .sidebar-link span {
                position: static;
                width: 100%;
            }

            .menu > .sidebar-item.has-submenu > .sidebar-link > span,
            .sidebar-submenu,
            .menu .sidebar-item:not(.has-submenu) .sidebar-link span {
                left: calc(100% - 2px);
                background-color: var(--#{$prefix}body-bg);
                min-width: 200px;
                max-width: 200px;
            }

            .menu > .sidebar-item.has-submenu.active > .sidebar-link > span {
                background-color: var(--#{$prefix}primary);
            }

            .menu .sidebar-item:not(.has-submenu).active .sidebar-link span {
                background-color: var(--#{$prefix}primary);
            }

            .sidebar-item.has-submenu > .menu > li.sidebar-item.has-submenu > .sidebar-link > span {
                width: 100%;
            }

            .sidebar-submenu {
                min-width: calc(200px - (var(--#{$prefix}sidebar-navigation-padding-x) + 2px));
                max-width: calc(200px - (var(--#{$prefix}sidebar-navigation-padding-x) + 2px));
            }

            .menu .sidebar-item:hover .sidebar-link span {
                display: flex;
                align-items: center;
                margin-left: 0 !important;
                padding-left: 1rem;
                padding-right: var(--#{$prefix}sidebar-navigation-padding-x);
                border-top-right-radius: var(--#{$prefix}border-radius-base);
            }

            .menu .sidebar-item.has-submenu:hover > .sidebar-submenu {
                height: auto;
                visibility: visible;
                display: block;
                position: absolute;
                top: 100%;
                left: calc(100% + var(--#{$prefix}sidebar-navigation-padding-x));
                background-color: var(--#{$prefix}sidebar-bg);
                border-bottom-right-radius: var(--#{$prefix}border-radius-base);
                box-shadow: var(--#{$prefix}sidebar-link-box-shadow);
            }

            .menu > .sidebar-item.has-submenu > .sidebar-submenu > li.sidebar-item.has-submenu .sidebar-submenu {
                top: 0;
                left: 100%;
            }

            .sidebar-submenu a {
                padding-left: 0;
            }
        }
    }
}

.app-wrapper:not(.compact-sidebar) {
    .has-submenu .sidebar-link span {
        display: inline-flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar-submenu {
        padding-left: 0.8rem;
    }

    .menu > .sidebar-item.has-submenu.show {
        background-color: var(--#{$prefix}mode-bg-hovered);
    }

    .menu > .sidebar-item.has-submenu.show > .sidebar-submenu,
    .menu > .sidebar-item.has-submenu > .sidebar-submenu .sidebar-item.has-submenu.show > .sidebar-submenu {
        visibility: visible;
        display: block;
        height: auto;
    }

    .menu > .sidebar-item.has-submenu > .sidebar-link > span > .chevron,
    .menu > .sidebar-item.has-submenu > .sidebar-submenu span .chevron {
        transition: var(--#{$prefix}transition-base);
    }

    .menu > .sidebar-item.has-submenu.show > .sidebar-link > span > .chevron,
    .menu > .sidebar-item.has-submenu > .sidebar-submenu > .sidebar-item.show > .sidebar-link > span .chevron,
    .menu
        > .sidebar-item.has-submenu
        > .sidebar-submenu
        .sidebar-submenu
        .sidebar-item.show
        > .sidebar-link
        > span
        .chevron {
        transform: rotate(-180deg);
    }

    .sidebar-navigation > .menu > .sidebar-item.has-submenu:hover > .sidebar-link,
    .sidebar-navigation > .menu > .sidebar-item.has-submenu.show > .sidebar-link {
        background-color: var(--#{$prefix}body-bg);
    }

    .sidebar-navigation > .menu > .sidebar-item.has-submenu.active > .sidebar-link {
        background-color: var(--#{$prefix}primary);
    }
}

@media (max-width: #{map-get($grid-breakpoints, 'lg') - 1}) {
    .app-wrapper:not(.compact-sidebar) .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
    }

    .app-wrapper:not(.compact-sidebar).open-sidebar .sidebar {
        transform: translateX(0);
    }
}

@media (max-width: #{map-get($grid-breakpoints, 'md') - 1}) {
    .app-wrapper {
        .has-submenu .sidebar-link span {
            display: inline-flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
        }

        .sidebar-item.has-submenu.show .sidebar-submenu {
            visibility: visible;
            display: block;
            height: auto;
        }

        .sidebar-item.has-submenu .chevron {
            transition: var(--#{$prefix}transition-base);
        }

        .sidebar-item.has-submenu.show .chevron {
            transform: rotate(-180deg);
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
    }

    .open-sidebar .sidebar {
        transform: translateX(0);
    }

    .compact-sidebar .sidebar,
    .compact-sidebar .sidebar .logo,
    .compact-sidebar .sidebar .sidebar-navigation {
        width: var(--#{$prefix}sidebar-width);
    }

    .logo-compact,
    .compact-sidebar .sidebar .logo-compact {
        display: none;
    }

    .logo-large,
    .compact-sidebar .sidebar .logo-large {
        display: flex;
    }

    .compact-sidebar .sidebar-link span {
        display: inline-block;
    }
}
