:root {
    font-size: 13.5px;
    min-height: 100%;
    height: auto;
    --#{$prefix}transition-base: $transition-base;
    --#{$prefix}sidebar-compacted-width: #{$sidebar-compacted-width};
    --#{$prefix}sidebar-width: #{$sidebar-width};
    --#{$prefix}navbar-height: #{$navbar-height};
    --#{$prefix}z-index-fixed: #{$zindex-fixed};
    --#{$prefix}border-radius-base: #{$border-radius-base};
}

body {
    font-size: 1rem;
    min-height: inherit;
    height: inherit;
}
