.dashboard-navigation {
    --#{$prefix}navbar-padding-x: 0;
    --#{$prefix}navbar-padding-y: 0.5rem;
    
    --#{$prefix}nav-link-color: #949494;
    --#{$prefix}nav-background-color: var(--#{$prefix}white);

    --#{$prefix}nav-link-hover-color: #000;
    --#{$prefix}nav-link-padding-x: 0.9375rem;
    --#{$prefix}nav-link-padding-y: 0.9375rem;
    
    --#{$prefix}nav-icon-size: 1.5em;

    background-color: var(--#{$prefix}nav-background-color);
    padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
    
    .nav-link {
        color: var(--#{$prefix}nav-link-color);
    }

    .nav-link svg {
        width: var(--#{$prefix}nav-icon-size);
        height: var(--#{$prefix}nav-icon-size);
    }

    .nav-link:hover {
        color: var(--#{$prefix}nav-link-hover-color);
    }

    .nav-link {
        padding: var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);
    }
}